html.ltie9 body, body{ min-width: 1140px; } .container{ max-width: 1140px; } .gdlr-caption-wrapper .gdlr-caption-inner{ max-width: 1140px; }
.body-wrapper.gdlr-boxed-style{ max-width: 1220px; overflow: hidden; } .body-wrapper.gdlr-boxed-style .gdlr-header-wrapper{ max-width: 1220px; margin: 0px auto; }
.gdlr-logo{ max-width: 190px; }
.gdlr-logo{ margin-top: 40px; }
.gdlr-logo{ margin-bottom: 41px; }
.gdlr-navigation-wrapper{ margin-top: 51px; }
h1, h2, h3, h4, h5, h6, .gdlr-title-font{ font-family: "Open Sans"; }
body, input, textarea, select, .gdlr-content-font{ font-family: "Open Sans"; }
.gdlr-navigation{ font-family: "Open Sans"; }
.gdlr-slider-item{ font-family: "Open Sans"; }
.gdlr-testimonial-carousel-icon{ font-family: "ABeeZee"; }
body{ font-size: 13px; }
h1{ font-size: 47px; }
h2{ font-size: 41px; }
h3{ font-size: 32px; }
h4{ font-size: 26px; }
h5{ font-size: 21px; }
h6{ font-size: 16px; }
.top-navigation-wrapper{ color: #9b9b9b; }
.top-navigation-wrapper i{ color: #adadad; }
.top-navigation-wrapper a{ color: #666666; }
.top-navigation-wrapper{ background-color: #ffffff; }
.top-navigation-wrapper{ border-color: #f0f0f0; }
.gdlr-header-inner{ background-color: #ffffff; }
.gdlr-main-menu > li > a{ color: #6c6c6c; }
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{ color: #E3271D; opacity: 1; filter: alpha(opacity=100); }div#gdlr-navigation-gimmick { background-color: #E3271D; }
.gdlr-header-transparent .top-navigation-wrapper{ color: #b1b1b1; }
.gdlr-header-transparent .top-navigation-wrapper a{ color: #b1b1b1; }
.gdlr-header-transparent .gdlr-main-menu > li > a{ color: #ffffff; }
.gdlr-header-transparent .gdlr-main-menu > li:hover > a, .gdlr-header-transparent .gdlr-main-menu > li.current-menu-item > a, .gdlr-header-transparent .gdlr-main-menu > li.current-menu-ancestor > a{ color: #ffffff; }.gdlr-header-transparent div#gdlr-navigation-gimmick { background-color: #ffffff; }
.gdlr-top-woocommerce-inner, .gdlr-menu-search{ background: #2b2b2b; background: rgba(43, 43, 43, 0.8); }
.gdlr-top-woocommerce, .gdlr-top-woocommerce-inner > a, .gdlr-menu-search input[type="text"]{ color: #ffffff; }
.gdlr-main-menu > .gdlr-normal-menu .sub-menu, .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ border-top-color: #1c1c1c; }
.gdlr-main-menu > .gdlr-normal-menu li , .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ background-color: #2e2e2e; }
.gdlr-main-menu > li > .sub-menu a, .gdlr-main-menu > li > .sf-mega a{ color: #bebebe; }
.gdlr-main-menu > li > .sub-menu a:hover, .gdlr-main-menu > li > .sub-menu .current-menu-item > a, .gdlr-main-menu > li > .sub-menu .current-menu-ancestor > a, .gdlr-main-menu > li > .sf-mega a:hover, .gdlr-main-menu > li > .sf-mega .current-menu-item > a, .gdlr-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #ffffff; } .gdlr-main-menu .gdlr-normal-menu li > a.sf-with-ul:after { border-left-color: #ffffff; } 
.gdlr-main-menu .sf-mega-section-inner > ul > li > a:hover, .gdlr-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #2a2a2a; } 
.gdlr-main-menu > li > .sub-menu *, .gdlr-main-menu > li > .sf-mega *{ border-color: #373737; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a { color: #ffffff; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a:hover, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-item > a, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-ancestor > a { color: #ffffff; }
#gdlr-responsive-navigation.dl-menuwrapper button { background-color: #303030; }
#gdlr-responsive-navigation.dl-menuwrapper button:hover, #gdlr-responsive-navigation.dl-menuwrapper button.dl-active, #gdlr-responsive-navigation.dl-menuwrapper ul{ background-color: #303030; }
body{ background-color: #3d3d3d; }
.body-wrapper, .gdlr-single-lightbox-container{ background-color: #ffffff; }
.gdlr-page-title, .gdlr-page-title-gimmick{ color: #4b5c72; }
.gdlr-page-caption{ color: #ff7c2e; }
h1, h2, h3, h4, h5, h6, .gdlr-title, .gdlr-title a{ color: #454545; }
.gdlr-item-title-wrapper .gdlr-item-title{ color: #4b5c72; border-color: #4b5c72; }
.gdlr-item-title-wrapper .gdlr-item-caption{ color: #E3271D; }
body{ color: #777777; }
a{ color: #5b5b5b; }
a:hover{ color: #ff7a30; }
body *{border-color: #ebebeb;color: ##a0a0a0;}
.page-not-found-block{ background-color: #d65938; }
.page-not-found-block{ color: #ffffff; }
.page-not-found-search  .gdl-search-form input[type="text"]{ background-color: #963a20; }
.page-not-found-search  .gdl-search-form input[type="text"]{ color: #d57f5c; }
.gdlr-sidebar .gdlr-widget-title{ color: #4b5c72; }
.gdlr-sidebar *{ border-color: #eeeeee; }
.gdlr-sidebar ul li:before { border-color: #bdbdbd; }
.gdl-search-form input{ background-color: #f7f7f7; }
.gdl-search-form input{ color: #9d9d9d; }
.gdl-search-form input{ border-color: #e5e5e5; }
.tagcloud a{ background-color: #4b5c72; }
.tagcloud a, .tagcloud a:hover{ color: #ffffff; }
.gdlr-about-us-item .about-us-title{ color: #4b5c72; }
.gdlr-about-us-item .about-us-caption{ color: #E3271D; }
.gdlr-about-us-item .about-us-divider{ border-color: #E3271D; }
.gdlr-about-us-item .about-us-content{ color: #4b5c72; }
.gdlr-accordion-item.style-1 .pre-active .accordion-title{ color: #3c3c3c; }
.gdlr-accordion-item.style-1 .accordion-title{ color: #8d8d8d; }
.gdlr-accordion-item.style-1 .accordion-title i{ background-color: #f3f3f3; }
.gdlr-accordion-item.style-1 .accordion-title i{ color: #a8a8a8; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ background-color: #4b5c72; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ color: #ffffff; }
.gdlr-banner-item-wrapper .flex-direction-nav .flex-prev, .gdlr-banner-item-wrapper .flex-direction-nav .flex-next{ color: #999999; }
.gdlr-box-with-icon-item{ background-color: #f5f5f5; }
.gdlr-box-with-icon-item > i, .gdlr-box-with-icon-item .box-with-icon-title{ color: #585858; }
.gdlr-box-with-icon-item{ color: #929292; }
.gdlr-button, .gdlr-button:hover, input[type="button"], input[type="submit"], .gdlr-top-menu > .gdlr-mega-menu .sf-mega a.gdlr-button{ color: #ffffff; }
.gdlr-button, input[type="button"], input[type="submit"]{ background-color: #4b5c72; }
.gdlr-button{ border-color: #e6e6e6; }
.column-service-title{ color: #3f3f3f; }
.column-service-content{ color: #6c6c6c; }
.column-service-icon i{ color: #6d6d6d; }
.gdlr-column-service-item.gdlr-type-2 .column-service-icon{ background-color: #3e3e3e; }
.list-with-icon .list-with-icon-title{ color: #333333; }
.gdlr-pie-chart-item .pie-chart-title{ color: #313131; }
.gdlr-price-inner-item{ background-color: #f9f9f9; }
.gdlr-price-item .price-title-wrapper{ background-color: #454545; }
.gdlr-price-item .price-title{ color: #ffffff; }
.gdlr-price-item .price-tag{ background-color: #595959; }
.gdlr-price-item .best-price .price-tag{ background-color: #E3271D; }
.gdlr-price-item .price-tag{ color: #ffffff; }
.gdlr-process-tab .gdlr-process-icon{ background-color: #f3f3f3; }
.gdlr-process-tab .gdlr-process-icon{ border-color: #e3e3e3; }
.gdlr-process-tab .gdlr-process-icon i{ color: #aaaaaa; }
.gdlr-process-tab .process-line .process-line-divider{ border-color: #e3e3e3; } .gdlr-process-tab .process-line .icon-chevron-down, .gdlr-process-tab .process-line .icon-chevron-right{ color: #e3e3e3; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-title{ color: #454545; }
.gdlr-service-slideshow-content .service-slideshow-title{ color: #4b5c72; }
.gdlr-service-slideshow-content .service-slideshow-gimmick, .gdlr-service-slideshow-content:before{ border-color: #f87831; }
.gdlr-service-slideshow-item .service-slideshow-item-count{ color: #ff6e17; }
.gdlr-service-slideshow-item .service-slideshow-item-title{ color: #242424; }
.service-slideshow-overlay{ background-color: #fc620a; }
.gdlr-service-slideshow-item.gdlr-active .service-slideshow-item-count, .gdlr-service-slideshow-item.gdlr-active .service-slideshow-item-title{ color: #ffffff; }
.gdlr-skill-item-wrapper .gdlr-skill-item-title{ color: #889eba; }
.gdlr-skill-item-wrapper .gdlr-skill-item-dot{ border-color: #f5a338; }
.gdlr-skill-item-wrapper .gdlr-skill-item-caption{ color: #5f6a79; }
.stunning-text-title{ color: #414141; }
.stunning-text-caption{ color: #949494; }
.gdlr-stunning-text-item.with-padding{ background-color: #f3f3f3; }
.gdlr-stunning-text-item.with-border{ border-color: #f3f3f3; }
.tab-title-wrapper .tab-title{color: #a0a0a0;}
.tab-title-wrapper .tab-title span:before{ color: #a0a0a0; }
.tab-title-wrapper .tab-title{ background-color: #ffffff; }
.tab-title-wrapper .tab-title.active, .tab-title-wrapper .tab-title.active span:before{color: #f87831;}
.tab-title-wrapper .tab-title.active{border-bottom: 1px solid #f87831 !important;color: #f87831;/* border-color: #333; */}
.gdlr-tab-slideshow-item .gdlr-tab-item.vertical > .tab-content-wrapper{ background-color: #ffffff; background-color: rgba(255, 255, 255, 0.9); }
.gdlr-tab-slideshow-item .gdlr-tab-item.vertical > .tab-content-wrapper{ color: #646464; }
table tr th{ background-color: #4b5c72; }
table tr th{ color: #ffffff; }
table.style-2 tr:nth-child(odd){ background-color: #f9f9f9; }
table.style-2 tr:nth-child(odd){ color: #949494; }
table.style-2 tr:nth-child(even){ background-color: #f3f3f3; }
table.style-2 tr:nth-child(even){ color: #949494; }
.gdlr-blog-title, .gdlr-blog-title a{ color: #4b5c72; }
.gdlr-blog-title a:hover{ color: #4b5c72; }
.gdlr-blog-info, .blog-info a, .blog-info i{ color: #a0a0a0; }
.gdlr-blog-thumbnail .gdlr-sticky-banner{ background-color: #232323; }
.gdlr-blog-thumbnail .gdlr-sticky-banner, .gdlr-blog-thumbnail .gdlr-sticky-banner i{ color: #ffffff; }
.gdlr-social-share, .gdlr-social-share a{ background-color: #f3f3f3; }
.gdlr-social-share .social-share-title{ color: #353535; }
.gdlr-standard-style .gdlr-single-blog-tag a{ background-color: #E3271D; }
.gdlr-standard-style .gdlr-single-blog-tag a{ color: #ffffff; }
.format-aside .gdlr-blog-content{ background-color: #4b5c72; }
.format-aside .gdlr-blog-content{ color: #ffffff; }
.format-quote .gdlr-top-quote blockquote{ color: #8d8d8d; }
.format-quote .gdlr-quote-author{ color: #4b5c72; }
.gdlr-single-nav > div i{ background-color: #f3f3f3; }
.gdlr-single-nav > div i{ color: #8d8d8d; }
.portfolio-item-filter a{ color: #7287a2; } 
.portfolio-item-filter a:hover, .portfolio-item-filter a.active{ color: #ff7c2e; }
.gdlr-image-link-shortcode .gdlr-image-link-overlay, .portfolio-thumbnail .portfolio-overlay{ background-color: #E3271D; }
.gdlr-image-link-shortcode .gdlr-image-link-icon, .portfolio-thumbnail .portfolio-icon i,.portfolio-thumbnail .portfolio-title a, .portfolio-thumbnail .portfolio-title a:hover{ color: #ffffff; }
.portfolio-title a{ color: #4b5c72; }
.portfolio-title a:hover{ color: #4b5c72; }
.portfolio-info, .portfolio-info a{ color: #E3271D; }
.gdlr-pagination .page-numbers{ background-color: #ebebeb; }
.gdlr-pagination .page-numbers{ color: #979797; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ background-color: #4b5c72; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ color: #ffffff; }
.gdlr-personnel-item .personnel-item-inner{ background-color: #f5f5f5; }
.gdlr-personnel-item.round-style .personnel-item{ background-color: #E3271D; }
.gdlr-personnel-item .personnel-author{ color: #4b5c72; }
.gdlr-personnel-item .personnel-author-image{ border-color: #E3271D; }
.gdlr-personnel-item .personnel-position{ color: #acacac; }
.gdlr-personnel-item .personnel-content{ color: #959595; }
.gdlr-personnel-item .personnel-social i{ color: #E3271D; }
.gdlr-testimonial-carousel-icon{ color: #f5a338; }
.gdlr-testimonial-item .testimonial-item-inner, .gdlr-testimonial-item .testimonial-author-image{ background-color: #f5f5f5; }
.gdlr-testimonial-item .testimonial-content{ color: #777777; }
.gdlr-testimonial-item .testimonial-author{ color: #f5a338; }
.gdlr-testimonial-item .testimonial-position{ color: #979797; }
.gdlr-testimonial-item .testimonial-author-image{ border-color: #E3271D; }
.gdlr-testimonial-item.box-style .testimonial-item-inner:after{ border-top-color: #dddddd; border-left-color: #dddddd; }
.gdlr-gallery-thumbnail .gallery-item{ background-color: #e5e5e5; }
.gdlr-gallery-thumbnail-container .gallery-caption{ background-color: #000000; }
.gdlr-gallery-thumbnail-container .gallery-caption{ color: #ffffff; }
.nivo-controlNav a, .flex-control-paging li a{ background-color: #ffffff; }
.nivo-controlNav a:hover, .nivo-controlNav a.active, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color: #5e5e5e; }
.nivo-controlNav a, .flex-control-paging li a{ border-color: #5e5e5e !important; }
.nivo-directionNav a, .flex-direction-nav a, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ background-color: #ffffff; }
body .nivo-directionNav a, body .flex-direction-nav a, body .flex-direction-nav a:hover, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ color: #5b5b5b; }
.gdlr-caption{ background-color: #000000; }
.gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-text{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider{ background-color: #000000; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-text{ color: #dddddd; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ color: #ffffff; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ background-color: #E3271D; }
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next{ color: #6d6d6d; }
input[type="text"], input[type="email"], input[type="password"], textarea{ background-color: #ffffff; }
input[type="text"], input[type="email"], input[type="password"], textarea{ color: #969696; }input::input-placeholder{ color:#969696; } input::-webkit-input-placeholder{ color:#969696; }input::-moz-placeholder{ color:#969696; } input:-moz-placeholder{ color:#969696; }input:-ms-input-placeholder{ color:#969696; }textarea::input-placeholder{ color:#969696; } textarea::-webkit-input-placeholder{ color:#969696; }textarea::-moz-placeholder{ color:#969696; } textarea:-moz-placeholder{ color:#969696; }textarea:-ms-input-placeholder{ color:#969696; }
.footer-wrapper{ background-color: #262626; }
.footer-wrapper .gdlr-widget-title, .footer-wrapper .gdlr-widget-title a{ color: #dddddd; }
.footer-wrapper{ color: #969696; }
.footer-wrapper a{ color: #7f7f7f; }
.footer-wrapper a:hover{ color: #cecece; }
.footer-wrapper *{ border-color: #363636; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ background-color: #141414; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ color: #828282; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ border-color: #313131; }
.footer-wrapper .gdlr-button, .footer-wrapper .gdlr-button:hover, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ color: #ffffff; }
.footer-wrapper .gdlr-button, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ background-color: #E3271D; }
.footer-wrapper .tagcloud a{ background-color: #E3271D; }
.footer-wrapper .tagcloud a, .footer-wrapper .tagcloud a:hover{ color: #ffffff; }
.copyright-wrapper{ background-color: #191919; }
.copyright-wrapper{ color: #828282; }
.footer-wrapper .copyright-wrapper{ border-color: #191919; }
html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce-message,html .woocommerce div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {  background: #4b5c72; }html .woocommerce .star-rating, html .woocommerce-page .star-rating, html .woocommerce .star-rating:before, html .woocommerce-page .star-rating:before, html .woocommerce div.product span.price, html .woocommerce div.product p.price, html .woocommerce #content div.product span.price, html .woocommerce #content div.product p.price, html .woocommerce-page div.product span.price, html .woocommerce-page div.product p.price, html .woocommerce-page #content div.product span.price, html .woocommerce-page #content div.product p.price {color: #4b5c72; }
html .woocommerce-message  a.button, html .woocommerce-error  a.button, html .woocommerce-info  a.button, html .woocommerce-message, html .woocommerce-error, html .woocommerce-info, html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce nav.woocommerce-pagination ul li span.current, html .woocommerce-page nav.woocommerce-pagination ul li span.current, html .woocommercenav.woocommerce-pagination ul li a:hover, html .woocommerce-page nav.woocommerce-pagination ul li a:hover{ color: #ffffff; }
html .woocommerce-info{ background: #389EC5; }
html .woocommerce-error{ background: #C23030; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ background: #4b5c72; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ color: #ffffff; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ border-bottom: 3px solid #354d63; }
html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar { background: #ebebeb; }html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar,html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text,html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img, html .woocommerce ul.products li.product a img:hover ,html .woocommerce-page ul.products li.product a img:hover, html .woocommerce-page div.product div.images img, html .woocommerce-page #content div.product div.images img,html .woocommerce form.login, html .woocommerce form.checkout_coupon, html .woocommerce form.register, html .woocommerce-page form.login,html .woocommerce-page form.checkout_coupon, html .woocommerce-page form.register, html .woocommerce table.cart td.actions .coupon .input-text,html .woocommerce #content table.cart td.actions .coupon .input-text, html .woocommerce-page table.cart td.actions .coupon .input-text,html .woocommerce-page #content table.cart td.actions .coupon .input-text { border: 1px solid #ebebeb; }html .woocommerce div.product .woocommerce-tabs ul.tabs:before, html .woocommerce #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th,html .woocommerce-page table.shop_table tfoot td, html .woocommerce-page table.shop_table tfoot th { border-bottom: 1px solid #ebebeb; }html .woocommerce .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce .cart-collaterals .cart_totals table tr:first-child td,html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td { border-top: 3px #ebebeb solid; }html .woocommerce .cart-collaterals .cart_totals tr td, html .woocommerce .cart-collaterals .cart_totals tr th,html .woocommerce-page .cart-collaterals .cart_totals tr td, html .woocommerce-page .cart-collaterals .cart_totals tr th { border-bottom: 2px solid #ebebeb; }
html .woocommerce div.product .woocommerce-tabs ul.tabs li, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li ,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove, html .woocommerce-page #content table.cart a.remove, html .woocommerce #payment, html .woocommerce-page #payment, html .woocommerce .customer_details,html .woocommerce ul.order_details, html .woocommerce nav.woocommerce-pagination ul li a, html .woocommerce-page nav.woocommerce-pagination ul li a,html .woocommerce form .form-row input.input-text, html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row input.input-text, html .woocommerce-page form .form-row textarea, html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty,html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { background: #f3f3f3; }html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty { border: 1px solid #f3f3f3; }
html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { border-top: 2px solid #e5e5e5; }html .woocommerce table.cart a.remove:hover, html .woocommerce #content table.cart a.remove:hover, html .woocommerce-page table.cart a.remove:hover,html .woocommerce-page #content table.cart a.remove:hover, html #payment div.payment_box, html .woocommerce-page #payment div.payment_box { background: #e5e5e5; }
html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, .cart-subtotal th, .shipping th , .total th, html .woocommerce table.shop_attributes .alt th,html .woocommerce-page table.shop_attributes .alt th, html .woocommerce ul.products li.product .price, html.woocommerce-page ul.products li.product .price { color: #333333; }
html .woocommerce ul.products li.product .price del, html .woocommerce-page ul.products li.product .price del,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove,html .woocommerce-page #content table.cart a.remove { color: #888888; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { border: 1px solid #a0a0a0; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { color: #ffffff; }
html .woocommerce .quantity .plus, html .woocommerce #content .quantity .plus,  html .woocommerce-page .quantity .plus,html .woocommerce-page #content .quantity .plus, html .woocommerce .quantity .plus:hover, html .woocommerce #content .quantity .plus:hover,html .woocommerce-page .quantity .plus:hover,  html .woocommerce-page #content .quantity .plus:hover{ background: #9a9a9a; }
html .woocommerce .quantity .minus, html .woocommerce #content .quantity .minus,  html .woocommerce-page .quantity .minus,html .woocommerce-page #content .quantity .minus, html .woocommerce .quantity .minus:hover, html .woocommerce #content .quantity .minus:hover,html .woocommerce-page .quantity .minus:hover,  html .woocommerce-page #content .quantity .minus:hover{ background: #b6b6b6; }
.gdlr-skin-dark-skin, .gdlr-skin-dark-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-skin i, .gdlr-skin-dark-skin .gdlr-flex-prev, .gdlr-skin-dark-skin .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-skin h1, .gdlr-skin-dark-skin h2, .gdlr-skin-dark-skin h3, .gdlr-skin-dark-skin h4, .gdlr-skin-dark-skin h5, .gdlr-skin-dark-skin h6, .gdlr-skin-dark-skin .gdlr-skin-title, .gdlr-skin-dark-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-info, .gdlr-skin-dark-skin .gdlr-skin-info a, .gdlr-skin-dark-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin a, .gdlr-skin-dark-skin .gdlr-skin-link, .gdlr-skin-dark-skin .gdlr-skin-link-color{ color: #e36d39; }
.gdlr-skin-dark-skin a:hover, .gdlr-skin-dark-skin .gdlr-skin-link:hover, .gdlr-skin-dark-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-box, .gdlr-skin-dark-skin .flex-direction-nav a, .gdlr-skin-dark-skin .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-dark-skin *, .gdlr-skin-dark-skin .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-button, .gdlr-skin-dark-skin .gdlr-button:hover, .gdlr-skin-dark-skin input[type="button"], .gdlr-skin-dark-skin input[type="submit"]{ color: #545454; background-color: #ffffff;  }
.gdlr-skin-light-grey, .gdlr-skin-light-grey .gdlr-skin-content{ color: #999999; }
.gdlr-skin-light-grey i, .gdlr-skin-light-grey .gdlr-flex-prev, .gdlr-skin-light-grey .gdlr-flex-next{ color: #c4c4c4; }
.gdlr-skin-light-grey h1, .gdlr-skin-light-grey h2, .gdlr-skin-light-grey h3, .gdlr-skin-light-grey h4, .gdlr-skin-light-grey h5, .gdlr-skin-light-grey h6, .gdlr-skin-light-grey .gdlr-skin-title, .gdlr-skin-light-grey .gdlr-skin-title a{ color: #3a3a3a; }
.gdlr-skin-light-grey .gdlr-skin-title a:hover{ color: #5e5e5e; }
.gdlr-skin-light-grey .gdlr-skin-info, .gdlr-skin-light-grey .gdlr-skin-info a, .gdlr-skin-light-grey .gdlr-skin-info a:hover{ color: #828282; }
.gdlr-skin-light-grey a, .gdlr-skin-light-grey .gdlr-skin-link, .gdlr-skin-light-grey .gdlr-skin-link-color{ color: #8c8c8c; }
.gdlr-skin-light-grey a:hover, .gdlr-skin-light-grey .gdlr-skin-link:hover, .gdlr-skin-light-grey .gdlr-skin-title a:hover{ color: #f97400; }
.gdlr-skin-light-grey .gdlr-skin-box, .gdlr-skin-light-grey .flex-direction-nav a, .gdlr-skin-light-grey .gdlr-column-service-item .gdlr-skin-box{ background-color: #a5a5a5; }
.gdlr-skin-light-grey *, .gdlr-skin-light-grey .gdlr-skin-border{ border-color: #eaeaea; }
.gdlr-skin-light-grey .gdlr-button, .gdlr-skin-light-grey .gdlr-button:hover, .gdlr-skin-light-grey input[type="button"], .gdlr-skin-light-grey input[type="submit"]{ color: #a3a3a3; background-color: #f2f2f2;  }
.gdlr-skin-portfolio-dark, .gdlr-skin-portfolio-dark .gdlr-skin-content{ color: #ababab; }
.gdlr-skin-portfolio-dark i, .gdlr-skin-portfolio-dark .gdlr-flex-prev, .gdlr-skin-portfolio-dark .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-portfolio-dark h1, .gdlr-skin-portfolio-dark h2, .gdlr-skin-portfolio-dark h3, .gdlr-skin-portfolio-dark h4, .gdlr-skin-portfolio-dark h5, .gdlr-skin-portfolio-dark h6, .gdlr-skin-portfolio-dark .gdlr-skin-title, .gdlr-skin-portfolio-dark .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-portfolio-dark .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-portfolio-dark .gdlr-skin-info, .gdlr-skin-portfolio-dark .gdlr-skin-info a, .gdlr-skin-portfolio-dark .gdlr-skin-info a:hover{ color: #e5e5e5; }
.gdlr-skin-portfolio-dark a, .gdlr-skin-portfolio-dark .gdlr-skin-link, .gdlr-skin-portfolio-dark .gdlr-skin-link-color{ color: #ffffff; }
.gdlr-skin-portfolio-dark a:hover, .gdlr-skin-portfolio-dark .gdlr-skin-link:hover, .gdlr-skin-portfolio-dark .gdlr-skin-title a:hover{ color: #ff7c2e; }
.gdlr-skin-portfolio-dark .gdlr-skin-box, .gdlr-skin-portfolio-dark .flex-direction-nav a, .gdlr-skin-portfolio-dark .gdlr-column-service-item .gdlr-skin-box{ background-color: #2d2d2d; }
.gdlr-skin-portfolio-dark *, .gdlr-skin-portfolio-dark .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-portfolio-dark .gdlr-button, .gdlr-skin-portfolio-dark .gdlr-button:hover, .gdlr-skin-portfolio-dark input[type="button"], .gdlr-skin-portfolio-dark input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.gdlr-skin-portfolio-dark-2, .gdlr-skin-portfolio-dark-2 .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-portfolio-dark-2 i, .gdlr-skin-portfolio-dark-2 .gdlr-flex-prev, .gdlr-skin-portfolio-dark-2 .gdlr-flex-next{ color: #494949; }
.gdlr-skin-portfolio-dark-2 h1, .gdlr-skin-portfolio-dark-2 h2, .gdlr-skin-portfolio-dark-2 h3, .gdlr-skin-portfolio-dark-2 h4, .gdlr-skin-portfolio-dark-2 h5, .gdlr-skin-portfolio-dark-2 h6, .gdlr-skin-portfolio-dark-2 .gdlr-skin-title, .gdlr-skin-portfolio-dark-2 .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-portfolio-dark-2 .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-portfolio-dark-2 .gdlr-skin-info, .gdlr-skin-portfolio-dark-2 .gdlr-skin-info a, .gdlr-skin-portfolio-dark-2 .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-portfolio-dark-2 a, .gdlr-skin-portfolio-dark-2 .gdlr-skin-link, .gdlr-skin-portfolio-dark-2 .gdlr-skin-link-color{ color: #ff7c2e; }
.gdlr-skin-portfolio-dark-2 a:hover, .gdlr-skin-portfolio-dark-2 .gdlr-skin-link:hover, .gdlr-skin-portfolio-dark-2 .gdlr-skin-title a:hover{ color: #ff8d4c; }
.gdlr-skin-portfolio-dark-2 .gdlr-skin-box, .gdlr-skin-portfolio-dark-2 .flex-direction-nav a, .gdlr-skin-portfolio-dark-2 .gdlr-column-service-item .gdlr-skin-box{ background-color: #ffffff; }
.gdlr-skin-portfolio-dark-2 *, .gdlr-skin-portfolio-dark-2 .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-portfolio-dark-2 .gdlr-button, .gdlr-skin-portfolio-dark-2 .gdlr-button:hover, .gdlr-skin-portfolio-dark-2 input[type="button"], .gdlr-skin-portfolio-dark-2 input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.service-slideshow-overlay{ background: -webkit-linear-gradient(rgba(255, 132, 33, 0.77), rgba(252, 98, 10, 0.77));background: -o-linear-gradient(rgba(255, 132, 33, 0.77), rgba(252, 98, 10, 0.77)); background: -moz-linear-gradient(rgba(255, 132, 33, 0.77), rgba(252, 98, 10, 0.77)); background: linear-gradient(rgba(255, 132, 33, 0.77), rgba(252, 98, 10, 0.77)); }.gdlr-image-link-shortcode .gdlr-image-link-overlay, .portfolio-thumbnail .portfolio-overlay{ background: -webkit-linear-gradient(rgba(255, 152, 69, 0.77), rgba(243, 129, 66, 0.77));background: -o-linear-gradient(rgba(255, 152, 69, 0.77), rgba(243, 129, 66, 0.77)); background: -moz-linear-gradient(rgba(255, 152, 69, 0.77), rgba(243, 129, 66, 0.77)); background: linear-gradient(rgba(255, 152, 69, 0.77), rgba(243, 129, 66, 0.77)); }#jobs-title .gdlr-column-service-item .column-service-title {
    margin-bottom: 3px;
}
.gdlr-header-transparent  .top-navigation-wrapper .top-social-wrapper  i{
color: #fff ;
}
.body-wrapper.gdlr-header-transparent .top-navigation-wrapper{ display: none; }

body .gdlr-tab-slideshow-item.gdlr-item {
    padding: 65px 0px 0px;
}