body {
  font-family: 'Roboto', sans-serif !important;
}

ul.menusprite {
    list-style-type: none;
}
ul.menusprite li {
    padding: 5px;
    font-size: 16px;
}
ul.menusprite li a {
    height: 13px;
    line-height: 0px;
    display: inline-block;
    padding-left: 30px !important; /* To sift text off the background-image */
    color: #3E789F;
    background: url("../../assets/images/icon-country.png") no-repeat; /* As all link share the same background-image */
}
ul.menusprite li.german a {
    background-position: 0 0;
}
ul.menusprite li.english a {
    background-position: 0 -13px;
}

ul.menubookres {
    list-style-type: none;
}
ul.menubookres li {
    padding: 5px;
}
ul.menubookres li span {
    height: 17px;
    line-height: 17px;
    display: inline-block;
    padding-left: 20px; 
    background: url("../../assets/images/bookedreservasi.png") no-repeat; /* As all link share the same background-image */
}
ul.menubookres li.booked span {
    background-position: 0 0;
}
ul.menubookres li.reservasi span {
    background-position: 0 -17px;
}

.price{
    font-family: Roboto,sans-serif !important;
}

.awe-btn{
    font-family: Roboto,sans-serif !important;
}

.heading{
    font-family: Roboto,sans-serif !important;
}

h4{
    font-family: Roboto,sans-serif !important;
}

h3{
    font-family: Roboto,sans-serif !important;
}

h2{
    font-family: Roboto,sans-serif !important;
}

.padding-menu {
  padding: 0 14px !important;
}

.font-groundplan{
    font-family: Roboto,sans-serif !important;
}

.font-roboto{
    font-family: Roboto,sans-serif !important;
}

label{
    font-family: Roboto,sans-serif !important; 
}

.slider-font{
    font-family: Roboto,sans-serif !important; 
}

.transforimage {
    transform: none !important;
}

.sprite {
        background: url("../../assets/images/icon-country.png") no-repeat;
    }
    .de {
        width: 20px; /* Icon width */
        height: 13px; /* Icon height */
        padding-left: 19px !important;
        padding-right: 10px !important;
        display: inline-block; /* Display icon as inline block */
        background-position: 0 0px; /* Icon background position in sprite */
        margin-top: 10px;
        line-height: 200% !important;
    } 
    .en{
        width: 20px; /* Icon width */
        height: 13px; /* Icon height */
        padding-left: 19px !important;
        padding-right: 10px !important;
        display: inline-block; /* Display icon as inline block */
        background-position: 0 -13px; /* Icon background position in sprite */
        margin-top: 10px !important;
        line-height: 200% !important;
    }

.color-black {
  color: black !important;
}

.color-red {
  color: red !important;
}

.color-white {
  color: white !important;
}

.color-background-footer {
  background-color: #5d5d5d !important;
}

.h4-footer-color {
  color:#fff !important; font-size: 23px !important;
}

.header-setting-home {
  background-color: rgba(0,0,0,.7); 
  width: 100%; 
  height: 100%; 
  position: absolute;
  z-index: -1;
}

.header-setting {
  background-color: rgba(0,0,0,.5); 
  width: 100%; 
  height: 100%; 
  position: 
  absolute;
  z-index: -1;
}

.page-header {
  background: no-repeat; 
  background-attachment: scroll; background-size: 1920px;
}

.min-width120{
  min-width: 120px !important;
}

.margin-top0{
  margin-top: 0 !important;
}

.margin-top05{
  margin-top: 0.5% !important;
}

.margin-top15 {
  margin-top: 15px !important;
}

.margin-top30 {
  margin-top: 30px !important;
}

.margin-top60 {
  margin-top: 60px !important;
}

.availabilitybook{
  width: 7%; 
  height: 7%
}

.inputreservasi {
  width: 100%;
  border-width:0;
  height: 30px;
}

.textareareservasi {
  width: 100%;
  border-width:0;
}

.button-reservasi {
  display: none; 
  margin: 0 auto; 
  width: 25px; 
  z-index: 999
}

.section-reservasi {
  padding-top: 0px; 
  padding-bottom: 40px
}

.map-contact {
  position: absolute; 
  height: 100%; 
  width: 100%;
}

.button-menulink {
  padding: 0 1px;
  line-height: 45px;
}

.font-size20 {
  font-size: 20px !important;
}