html, body {
  width: 100%;
  height: 100%;
}

.hot-spotcontainer {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../images/Untitled.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hot-spot {
  width: 20px;
  height: 20px;
  background-color: #D29A4E;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.8;
  z-index: 1;
}
.hot-spot:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #D29A4E;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.hot-spot:hover {
  cursor: pointer;
  opacity: 1;
}
.hot-spot:hover:after {
  width: 25px;
  height: 25px;
  opacity: 1;
}

.speech-bubble {
  position: absolute;
  width: 150px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  display: none;
  z-index: 2;
}
.speech-bubble h1 {
  font-size: 20px;
  margin-top: 12px;
  color: #333333;
}
.speech-bubble p {
  margin-top: 4px;
  margin-bottom: 12px;
  font-style: italic;
  color: #888888;
}
.speech-bubble:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
