img {
  max-width: 100%;
  height: auto;
}

.map {
  position: relative;
  max-width: 1100px;
  margin: auto;
  background-color: #ccc;
}
.map img {
  display: block;
  width: 100%;
}

.map-popup {
  position: absolute;
  left: 50%;
  top: 115%;
  z-index: 99;
  width: 60%;
  padding: 2rem;
  background-color: #fff;
  transition: all 300ms ease-in;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 24px rgba(0,0,0,0.22);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.map-popup > *:first-child { margin-top: 0; }
.map-popup > *:last-child { margin-bottom: 0; }

.map-popup.open {
  opacity: 1;
  visibility: visible;
}

.marker {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 8px;
  height: 8px;
  color: #fff;
  line-height: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: tomato;
  transition: all 300ms;
}

.marker:hover {
  background-color: #e1bd85;
}

.marker-active {
  background-color: #e1bd85;
}

.marker1 {
  top: 22.7%;
  left: 13.5%;
}

.marker2 {
  top: 22.7%;
  left: 22%;
}

.marker3 {
  top: 30%;
  left: 13.5%;
}

.marker4 {
  top: 28.9%;
  left: 18.2%;
}

.marker5 {
  top: 34.8%;
  left: 37.5%;
}

.marker6 {
  top: 40.6%;
  left: 21.7%;
}

.marker7 {
  top: 45%;
  left: 49.5%;
}

.marker8 {
  top: 49.8%;
  left: 15%;
}

.marker9 {
  top: 56.3%;
  left: 35.5%;
}

.marker10 {
  top: 59%;
  left: 10%;
}

.marker11 {
  top: 84%;
  left: 29%;
}

.marker12 {
  top: 8.5%;
  left: 74.3%;
}

.marker13 {
  top: 41.5%;
  left: 74%;
}

.marker14 {
  top: 41.5%;
  left: 88%;
}

.marker15 {
  top: 74%;
  left: 72.88%;
}


@media only screen and (min-width:48em) {
  .map-item {
    position: absolute;
    width: 17px;
    height: 17px;
    }
    .map-item .marker {
      top: auto;
      left: auto;
      width: 17px;
      height: 17px;
      line-height: 17px;
      text-align: center;
    }
  
  .map-item1 {
    top: 23.3%;
    left: 14.3%;
  }
  .map-item2 {
    top: 23.3%;
    left: 22.8%;
  }
  .map-item3 {
    top: 31%;
    left: 14.2%;
  }
  .map-item4 {
    top: 29.7%;
    left: 18.6%;
  }

  .map-item5 {
    top: 35.5%;
    left: 37.9%;
  }

  .map-item6 {
    top: 41.2%;
    left: 22.2%;
  }

  .map-item7 {
    top: 46%;
    left: 50%;
  }
  
  .map-item8 {
    top: 51%;
    left: 15.8%;
  }

  .map-item9 {
    top: 57%;
    left: 35.5%;
  }

  .map-item10 {
    top: 60%;
    left: 10.7%;
  }

  .map-item11 {
    top: 85%;
    left: 29%;
  }

  .map-item12 {
    top: 9.6%;
    left: 75%;
  }

  .map-item13 {
    top: 42%;
    left: 75%;
  }

  .map-item14 {
    top: 42%;
    left: 89%;
  }

  .map-item15 {
    top: 74.5%;
    left: 73.5%;
  }

  .map-popup {
    position: absolute;
    left: 38px;
    width: 150px;
    padding: 1rem;
    transform: translateY(-50%);
  }
  .map-popup:before {
    content: "";
    position: absolute;
    top: 31%;
    left: -16px;
    margin-top: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #fff transparent transparent;
  }
  
  .map-popup.edge {
    left: auto;
    right: calc(100% + 24px);
  }
  .map-popup.edge:before {
    left: auto;
    right: -16px;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #fff;
  }
}