img {
  max-width: 100%;
  height: auto;
}

.map2 {
  position: relative;
  max-width: 1100px;
  margin: auto;
  background-color: #ccc;
}
.map2 img {
  display: block;
  width: 100%;
}

.map2-popup {
  position: absolute;
  left: 50%;
  top: 115%;
  z-index: 99;
  width: 60%;
  padding: 2rem;
  background-color: #fff;
  transition: all 300ms ease-in;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 24px rgba(0,0,0,0.22);
  opacity: 0;
  visibility: hidden;
  text-align: center;
}

.map2-popup > *:first-child { margin-top: 0; }
.map2-popup > *:last-child { margin-bottom: 0; }

.map2-popup.open {
  opacity: 1;
  visibility: visible;
}

.marker2 {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 8px;
  height: 8px;
  color: #fff;
  line-height: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: tomato;
  transition: all 300ms;
}

.marker2:hover {
  background-color: #e1bd85;
}

.marker2-active {
  background-color: #e1bd85;
}

.marker21 {
  top: 74%;
  left: 50.88%;
}


@media only screen and (min-width:48em) {
  .map2-item {
    position: absolute;
    width: 17px;
    height: 17px;
    }
    .map2-item .marker2 {
      top: auto;
      left: auto;
      width: 17px;
      height: 17px;
      line-height: 17px;
      text-align: center;
    }
  
  .map2-item1 {
    top: 74.8%;
    left: 51.7%;
  }
  

  .map2-popup {
    position: absolute;
    left: 38px;
    width: 150px;
    padding: 1rem;
    transform: translateY(-50%);
  }
  .map2-popup:before {
    content: "";
    position: absolute;
    top: 31%;
    left: -16px;
    margin-top: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #fff transparent transparent;
  }
  
  .map2-popup.edge {
    left: auto;
    right: calc(100% + 24px);
  }
  .map2-popup.edge:before {
    left: auto;
    right: -16px;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #fff;
  }
}